@import url("./Components/IcoMoon/style.css");
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.TrackList{
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    align-items: center;
}
.Track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(1000px / 2);
}

.info{
width: 150px;
}
.inpmui{
    margin: 50px 0px;
    text-align: right !important;
    width: 300px;
}
.active{
    color: #9340fe !important;
}
.playbar {
    position: fixed;
    background-color: #9340fe;
    width: calc(100vw - 40px);
    height: 70px;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 30px;
  }
  
  .playbar > .togglePlay {
    transform: scale(120%) !important;
  }
  
  .playbar > p {
    font-size: 14px;
  }
  
  .playbar * {
    color: white !important;
  }
  
  .preview {
    width: 55px;
    height: 55px;
    border-radius: 10px;
  }
  
  .credits {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    letter-spacing: 2px;
  }
  
  .credits > p {
    font-size: 14px;
  }
  
  .slider {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 600px;
    margin-left: auto;
  }
  

  input.MuiInputBase-input.MuiInput-input.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    text-align: center;
}

.btn-track{
  cursor: pointer;
}

.css-bz5ng3-MuiInputBase-root-MuiInput-root::after{
  border-bottom: 2px solid #9340fe !important;
}